body{
	background-color: #457327;
	margin: 0;
}
.jucux-addons-menu-button{
	position: relative;
	border-style: none;
	color: white;
	background-color: unset;
	z-index: 300;
}

.jucux-addons-menu-button:hover{
	cursor: pointer;
}

.jucux-addons-nav-modal{
	transition: all 5s;
	
	display: block;
	position: fixed;
	background-color: #45127856;
	
	top: 0px;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	
	z-index: 200;
}
.jucux-addons-show-nav{
	transition: all 2s;
	display: block;
	width: 100vw;
}

.jucux-addons-hide-nav{
	transition: all 2s;
	display: none;
	width: 0vw;
}