@import "the-new-css-reset/css/reset.css";
@import "./scss/base";
@import "./scss/colors";
@import "./scss/fonts";
// *:hover{
// 	border-style: solid;
// }
img{
	margin: 0;
	display: block;
}
.upper-header{
	font-family: $lato;
	font-size: 0.8rem;
	font-weight: 600;
	background-color: $fitectur-blue;
	padding: 10px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	ul{
		display: flex;
		gap: 30px;
	}
	.upper-left{
		display: flex;
		gap: 10px;
	}
	.social-icons{
		display: flex;
		gap: 10px;
		font-size: 1rem;
	}
}
header {
	box-shadow: 0px 5px 4px 1px $fitectur-gray-2;
    display: flex;
    justify-content: space-between;
	font-family: $lato;
	background-color: white;
    .main {
		width: 50%;
		padding: 10px 30px;
		display: flex;
		justify-content: left;
		align-items: center;
		.isotipo{
			min-width: 50px;
			padding: 0;
			margin-right: 30px;
		}
		h2{
			font-weight: 700;
			color: $fitectur-gray-1;
		}
    }
	.second{
		color: white;
		padding: 10px 30px;
		margin: 0;
		width: 50%;
		background-color: $fitectur-blue;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 30px;

		.congreso_link{
			background-color: $fitectur-red;
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			font-weight: 600;
		}
		
	}
	.second::before{
		clip-path: polygon(100% 0, 0 0, 100% 100%);
		content: "";
		position: absolute;
		background-color: $fitectur-blue;
		width: 100px;
		height: 100%;
		top: 0;
		left: -100px;
		
	}
}
.jucux-nav-button{
	position: relative;
	font-size: 2rem;
	cursor: pointer;
	z-index: 300;
}
.jucux-nav-modal{
	// display: none;
	position: fixed;
	background-color: $fitectur-blue-8;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
}

