$fitectur-red: #d21d22;
$fitectur-red-8: #d21d22dd;
$fitectur-blue: #25325d;
$fitectur-blue-8: #25325dcc;
$fitectur-gray-1: #737373;
$fitectur-gray-2: #ebebeb;
$fitectur-gray-3: #9d9d9c;
$fitectur-purple: #572e7b;
$fitectur-strong-pink: #b61d78;
$fitectur-pink: #b85c9e;
$fitectur-blue-2: #284592;
$fitectur-strong-orange: #ee8a18;
$fitectur-orange: #f4a03e;
$fitectur-yellow: #f8da29;
$fitectur-strong-green: #128260;
$fitectur-green: #7eb933;

$fitectur-black-8: #000000cc